/* One Stylesheet to Rule Them All
   AKA this stylesheet applies to all pages on site */


/* Formatting for all page body */

body {
    background-image: url(../images/connect.png);
    color: gray;
}


/* formatting for nav bar */

.navbar-brand {
    font-size: 3.2vw;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    background-color: #4aaaa5;
    margin: 0;
    padding-top: .7em;
    padding-bottom: .5em;
}

.nav-item {
    color: gray;
}

.border-bottom {
    color: gray;
}

main {
    margin-bottom: 100px;
}

main h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: .6em;
}

main img {
    margin-bottom: 2vh;
}

main hr {
    width: 100%;
    border: #cccccc solid 1px;
}

@media screen and (max-width: 767px) {
    .navbar {
        padding: 0;
    }
    .nav-link {
        font-size: 2.6vw;
    }
    main h1 {
        font-size: 6.2vw;
    }
}

@media screen and (min-width: 980px) {
    .navbar-brand {
        font-size: 34px;
    }
    .container-xl {
        width: 70vw;
        height: auto;
    }
}


/* Footer specific formatting */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 0;
}

footer .container-fluid {
    padding: 0;
    background-color: grey;
    width: 100%;
    color: white;
    font-size: 1.2vw;
}

footer .container-fluid hr {
    border: 3px solid rgb(74, 170, 164);
    margin: 0;
    padding: 0;
}

footer p {
    margin: 0;
    width: 100%;
}


/* Contact Page Specific */

.btn-primary {
    background-color: #4aaaa5;
}